<div class="ed-container">
  <div class="ed-item movil-50 abcenter tablet-1-3" *ngFor="let producto of productos; let i=index">
    <div class="cards">
      <div [ngClass]="producto.online === 'online' ? 'on': 'off'" attr.estado="{{producto.online}}"></div>
      <h3>{{producto.titulo}}</h3>
      <i>{{producto.padre}}</i>
      <div class="banda" [ngClass]="producto.tipo === 'clon' ? 'clon' : 'original'" attr.clon="{{producto.tipo}}"></div>
        <figure (click)="onSelect(producto)">
          <img src="{{producto.imagenSrc}}" alt="">
          <figcaption attr.last="{{ i + 1 | number : '2.0'}}">★</figcaption>
        </figure>
      <a href={{producto.enlace}} target="blank">{{producto.enlace}}</a>
      <div class="desplegable">
        <p [ngClass]="producto.subdominios.length === 0 ? 'negativo':'positivo'"  (click)="toggle(producto);">Subdominios disponibles</p>
        <ul *ngIf="producto.custom">
          <li *ngFor="let dominio of producto.subdominios">
            <a href="{{dominio}}" target="blank">{{dominio}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>